@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    background-color: cadetblue;
    color: white
}